@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}


<br />
<br />
<br />

<div class="panel nameLabel" id="gameDiv" style="cursor: pointer">
    Zum Spiel
</div>

<script>
    document.getElementById("gameDiv").addEventListener("click", function (event) {
        window.location.href = 'login';
    });
</script>
