@page
@model Server.Pages.loginModel
@{
    ViewData["Title"] = "Login";
}

    <div class="panel" id="loginDiv">
        <div class="row">
            <div class="col">
                <b>Spielname:</b>
            </div>
            <div class="col">
                <input id="gameNameInput" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>Dein Name:</b>
            </div>
            <div class="col">
                <input id="playerNameInput" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>Spieler*innennummer:</b>
            </div>
            <div class="col">
                <select id="playerNoSelect">
                    <option value="">zufällig</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>

        <button id="loginButton">Anmelden</button>
    </div>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/login.js"></script>