@inherits LayoutComponentBase



<div class="sidebar">
    <NavMenu />
</div>

    <RadzenDialog />

<div class="main" style="background: green; display:flex; flex-direction: row">


    @*<div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@

    @*<div class="content px-4" style="width: 100%">
        </div>*@
    @Body
</div>
