@using C = Doppelkopf.Core.App;
@using Radzen;

@inject DialogService dialogService;

<div class="fcol">
    @foreach (var pp in Points.List)
    {
        <div class="frow">
            <div class="fcol fcol-1">
                @pp.PLayerName
            </div>
            <div class="fcol" style="width: 50px">
                @pp.Points
            </div>
        </div>
    }

<div class="frow" Style="margin-top: 20px">
    <RadzenButton Click="@((args) => dialogService.Close(false))" Text="OK" Style="width: 100px" />
    <RadzenButton Click="@((args) => dialogService.Close(true))" ButtonStyle="ButtonStyle.Secondary" Text="Karten Geben" Style="width: 200px" />
</div>
</div>

@code {

    [Parameter]
    public C.Points Points { get; set; }

}
