@page "/login"

@using Doppelkopf.BlazorWebAssembly.Client.Helper
@using Doppelkopf.BlazorWebAssembly.Client.Services

@inject NavigationManager NavManager
@inject StateService StateService
@inject Doppelkopf.Core.Connection.Client Client
@inject IJSRuntime JSRuntime

<div style="display: flex;align-items: center; justify-content: center; height: 100%; width: 100%">

    <RadzenCard Style="width: fit-content">
        <div class="row">
            <div class="col-xl-6">
                <p class="input">Spiel</p>
                <RadzenTextBox @bind-value=@gameName Name="GameName" Style=@inputStyle />
                <RadzenRequiredValidator Component="GameName" Text="Spiel angeben!" Popup=@popup Style="position: absolute" />

                <p class="input">Dein Name</p>
                <RadzenTextBox @bind-value=@playerName Style=@inputStyle />

                <p class="input">Spieler*innennummer</p>
                <RadzenDropDown @bind-Value=@playerNo AllowClear="false" TValue="string"
                                Data=@playerNoOptions
                                Style=@inputStyle />

                <p class="input"></p>
                <RadzenButton Click=@(args => OnClickLogin()) Text="Login" Style="margin-left: 60px; width: 120px" />
            </div>
        </div>
    </RadzenCard>
</div>


@code {

    private string inputStyle = "margin-bottom: 20px; width: 250px";

    private List<string> playerNoOptions = new List<string>() { "Auto", "1", "2", "3", "4" };

    private string gameName;
    private string playerName;
    private string playerNo = "Auto";

    private bool popup;

    protected override void OnInitialized()
    {
        base.OnInitialized();

    }

    void OnClickLogin()
    {
        //Client.Init(NavManager.ToAbsoluteUri("/dokohub"), gameName, int.Parse(playerNo.Length > 1 ? "0" : playerNo));

        Client.OnInitialized += OnInitialized;

        var playerNoInt = 0;
        int.TryParse(playerNo, out playerNoInt);

        Console.WriteLine("init " + playerNo + " " + playerName);
        Client.Init(gameName, playerNoInt, playerName);
    }

    void OnInitialized(string gameName, int playerNo, string playerToken)
    {
        StateService.Init(Client, NavManager, JSRuntime);
        
        NavManager.NavigateTo(StateService.CreateUrl("game"));
    }

}
