@page "/login"

@inject NavigationManager NavManager

<RadzenCard Style="width: fit-content; left: 50%; top: 20%; margin-left: -150px">
    <div class="row">
        <div class="col-xl-6">
            <p class="input">Spiel</p>
            <RadzenTextBox @bind-value=@gameName Style=@inputStyle />

            <p class="input">Dein Name</p>
            <RadzenTextBox @bind-value=@playerName Style=@inputStyle />

            <p class="input">Spieler*innennummer</p>
            <RadzenDropDown @bind-Value=@playerNo AllowClear="false" TValue="string"
                            Data=@playerNoOptions 
                            Style=@inputStyle/>

            <p class="input"></p>
            <RadzenButton Click=@(args => OnClickLogin()) Text="Login" Style="margin-left: 60px; width: 120px" />
        </div>
    </div>
</RadzenCard>


@code {

    private string inputStyle = "margin-bottom: 20px; width: 250px";

    private List<string> playerNoOptions = new List<string>() { "Auto", "1", "2", "3", "4" };

    private string gameName;
    private string playerName;
    private string playerNo = "Auto";

    void OnClickLogin()
    {
        Client.Initialize(NavManager.ToAbsoluteUri("/dokohub"));

        Client.Instance.On("Initialized", OnInitialized);

        Client.Instance.Init(gameName, "1", "2");
    }

    void OnInitialized(string gameName, string playerNo, string playerToken)
    {
        NavManager.NavigateTo($"/game?game={gameName}&player={playerNo}&token={playerToken}");
    }

}
